%form{:id => "search", :autocomplete => "off"}
  %fieldset
    %ol
      %li
        %input{:type => "text", :name => "search", :id => "searchbar", :placeholder => "Search for a Song, Artist or Album"}
#output
  #results